body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #272525;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #272525;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: #e08f9d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project:hover {
    transform: translateY(-10px);
  }

.project img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project h3 {
    color: #272525;
    margin-bottom: 10px;
}

.project p {
    color: #272525;
    margin-bottom: 10px;
    text-align: left;
}

.description {
    text-align: justify;
}