<div class="home-page">
  <div class="content">
    <div class="text-content">
      <h1>Welcome to My Portfolio</h1>
      <h2>Hi, It's me</h2>
      <h3>Nurul Aulia</h3>
      <p>Bachelor's Degree in Education Management. I am passionate about transitioning into the IT field, driven by my deep interest in technology. I have hands-on experience in backend development with Golang, where I successfully built a Booking Room App.</p>
      <div class="logo-item">
        <a href="https://www.linkedin.com/in/nurul-aulia25" target="_blank">
          <img src="assets/logo-linkedin.png" alt="LinkedIn Logo" class="social-logo">
        </a>
        <a href="https://github.com/nurulaulia25" target="_blank">
          <img src="assets/logo-github.png" alt="Github Logo" class="social-logo">
        </a>
        <a href="https://www.instagram.com/aulia_nurul55?igsh=MWs1czd3N2dqbzkxOQ==" target="_blank">
          <img src="assets/logo-instagram.jpg" alt="Instagram Logo" class="social-logo">
        </a>
        <button class="button">
          <a href="#resume">Resume</a>
        </button>
      </div>
    </div>
    <img src="assets/foto.jpg" alt="Nurul Aulia" class="profile-image">
  </div>
</div>