<div class="my-skills-page">
  <h2>My Skills</h2>

  <div class="skill-section">
    <h3>Languages</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img src="assets/logo-html.png" alt="HTML logo" width="70" height="70">
        <span>HTML</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-css.png" alt="CSS logo" width="70" height="70">
        <span>CSS</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-golang.png" alt="Golang logo" width="70" height="70">
        <span>Golang</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-csharp.png" alt="C# logo" width="70" height="70">
        <span>C#</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-js.png" alt="Javascript logo" width="70" height="70">
        <span>Javascript</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-typescript.png" alt="Typescript logo" width="70" height="70">
        <span>Typescript</span>
      </div>
    </div>
  </div>
  
  <div class="skill-section">
    <h3>Frameworks</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img src="assets/logo-angular.png" alt="Angular logo" width="70" height="70">
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-dotnet.jpg" alt=".Net Framework logo" width="70" height="70">
        <span>.Net Framework</span>
      </div>
    </div>
  </div>
  
  <div class="skill-section">
    <h3>Databases</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img src="assets/logo-postgresql.png" alt="PostgreSQL logo" width="70" height="70">
        <span>PostgreSQL</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-mysql.png" alt="MySQL logo" width="70" height="70">
        <span>MySQL</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-sqlserver.png" alt="SQL Server logo" width="70" height="70">
        <span>SQL Server</span>
      </div>
    </div>
  </div>
  
  <div class="skill-section">
    <h3>Tools</h3>
    <div class="skills-grid">
      <div class="skill-item">
        <img src="assets/logo-git.png" alt="Git logo" width="70" height="70">
        <span>Git</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-docker.png" alt="Docker logo" width="70" height="70">
        <span>Docker</span>
      </div>
      <div class="skill-item">
        <img src="assets/logo-katalon.png" alt="Katalon logo" width="70" height="70">
        <span>Katalon</span>
      </div>
    </div>
  </div>
</div>

